@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: roboto, sans-serif;
    margin: 0;
    width: 100%;
}

#main {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
}

h1 {
    grid-area: header;
    text-align: center;
    border: 1px solid red;
    width: 100%;
}

#img-div {
    float: left;
    width: 30%;
}

img {
    width: 100%;
}

#img-caption {
    text-align: center;
}

blockquote {
    font-style: italic;
}

@media screen and (max-width: 425px) {
    #img-div {
        float: none;
        width: 100%;
        margin: 0;
    }
}